<ion-header color="primary" [translucent]="true">
 
</ion-header>


<ion-content>
    <img src="assets/vms-logo.svg" class="vms-logo">
    <h4 class="big-title">VISITOR MANAGEMENT SYSTEM</h4>
<form id="vms-login">
  <input type="email" class="form-control" id="vmsEmail" aria-describedby="emailHelp" placeholder="Email">
  <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  <ion-button (click)="navigateTo('dashboard')">LOGIN
  </ion-button>
  <p class="version">version 1.0.0</p>
  <p class="boodskap-text">Powered by<img src="assets/boodskap-logo.png" class="p-by">Boodskap</p>

</form>

</ion-content>