.vms-logo{
  height: 50px;
  width: 100%;
  margin: 60px auto 0;
}
.big-title{
  margin-top: 9px;
  margin-bottom: 8px;
  font-size: 14px;
  text-align: center;
}
#vms-login{
  text-align: center;
  margin-top: 25px;
}
#vms-login input{
width: 80%;
border-top: 0 ;
border-left: 0;
border-right: 0;
font-size: 14px;
margin: 10px auto;
border-bottom: 1px solid #eee;
}
ion-button,ion-ripple-effect,.button-native,
button{
  width: 80%;
  background: #112e50 !important;
  margin: 25px auto;
}

#vms-login input:focus{
outline: transparent;
}
.boodskap-text{
  color: #898989;
  font-size: 13px;
  margin-top: 30px;
}
.version{
  color: #898989;
  font-size: 12px;
}
.p-by{
  height: 25px;
  vertical-align: -8px;
  margin-left: 5px;
}




:host(.button-solid) {
    --background-activated:red;
    --box-shadow: 0 3px 1px -2px rgba(0,0,0,0.2),0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12);
}