<ion-app>
  <ion-split-pane>
    <ion-menu>
      <ion-header  style="background: #343434;color: #fff;" >
          <div style="text-align: center;margin-top: 20px;margin-bottom: 20px;" >
              <span >
                  <!-- <img src="{{userDetails.driverObj.driverimg}}"  style="height: 75px;width: 75px;border-radius: 50%;border: 3px solid #ddd;" /> -->
                  <!-- <img src="{{ rooturl }}/files/download/{{ apitoken }}/{{ userProfileDetails.photo }}"    alt="preview" style="height: 75px;width: 75px;border-radius: 50%;border: 3px solid #ddd;"/> -->
                  <img src="/assets/icon/avathar.png"  style="background:#fff;height: 75px;width: 75px;border-radius: 50%;border: 3px solid #ddd;" />

              </span>
              <!-- <p class="change-photo">change photo</p> -->
          </div>
          <div style="margin-bottom: 20px;" >
              <p style="text-align: center;margin-bottom:5px;text-transform: capitalize;"><b>Admin</b></p>
              <p style="text-align: center;font-size: 13px;margin-top:0px;">admin@boodskap.io</p>
          </div>

      </ion-header> 
      <ion-content> 
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages" swipeEnabled="false">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]" *ngIf="p.icon != 'log-out'">

              <ion-icon slot="start" [name]="p.icon" class="iconColor" ></ion-icon>
              <!-- <i class="fas fa-gas-pump iconColor" style="    font-size: 30px !important;" *ngIf="p.icon == 'beer'"></i> -->
              <ion-label >  
                {{p.title}}
              </ion-label> 
            </ion-item>
            <ion-item  *ngIf="p.icon == 'log-out'" (click)="logout()" >

              <ion-icon slot="start" [name]="p.icon" class="iconColor" ></ion-icon>
              <!-- <i class="fas fa-gas-pump iconColor" style="    font-size: 30px !important;" *ngIf="p.icon == 'beer'"></i> -->
              <ion-label >
                {{p.title}}
              </ion-label> 
            </ion-item>
          </ion-menu-toggle>
         
        </ion-list>
      </ion-content>
      <ion-footer >
     
          <ion-toolbar >
              <!-- <div style="text-align: center;width: 60%;height:36px;margin: 0 auto;">
                  <img src="/assets/icon/ionic_base.png" class="dashImg" style="width: 100%;height: 100%;">
              </div> -->
          </ion-toolbar>
          </ion-footer>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
